@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Logo styles using Tailwind classes with some custom properties */
.logo {
  @apply h-24 p-6;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@media (prefers-reduced-motion: no-preference) {
  .logo-spin {
    animation: logo-spin infinite 20s linear;
  }
}